# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.AsteroidKefir.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\AsteroidKefir\.idea\.idea.AsteroidKefir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
